<form class="form-horizontal" method="post">
	<fieldset>
		<legend>
			<div class="control-group">
				<label class="control-label" for="startDate">startDate</label>
				<div class="controls">
					<input type="text" class="input-xlarge"  name="startDate">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="endDate">endDate</label>
				<div class="controls">
					<input type="text" class="input-xlarge"  name="endDate">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="headline">headline</label>
				<div class="controls">
					<input type="text" class="input-xlarge"  name="headline">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="text">text</label>
				<div class="controls">
					<input type="text" class="input-xlarge" name="text">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="media">media url</label>
				<div class="controls">
					<input type="text" class="input-xlarge" name="media">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="credit">credit</label>
				<div class="controls">
					<input type="text" class="input-xlarge" name="credit">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="caption">caption</label>
				<div class="controls">
					<input type="text" class="input-xlarge" name="caption">
				</div>
			</div>
			
			<div class="form-actions">
				<input type="submit" class="btn btn-primary" name="submit" value="submit"></input>
			</div>
		</legend>
	</fieldset>
</form>
