<form class="form-horizontal" method="post">
	<fieldset>
		<legend>
			<div class="control-group">
				<label class="control-label" for="username">user name</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="username" name="username">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="password">password</label>
				<div class="controls">
					<input type="password" class="input-xlarge" id="password" name="password">
				</div>
			</div>
			<div class="form-actions">
				<input type="submit" class="btn btn-primary" name="submit" value="submit"></input>
			</div>
		</legend>
	</fieldset>
</form>
