<!-- BEGIN Timeline Embed -->
<div id="timeline-embed"></div>
<script type="text/javascript">
    var timeline_config = {
     width: "100%",
     height: "100%",
     source: '../showdata/<%=username%>'
    }
</script>
<script type="text/javascript" src="/js/storyjs-embed.js"></script>
<!-- END Timeline Embed-->

