<!-- BEGIN Timeline Embed -->
<div id="timeline-embed"></div>
<script type="text/javascript">
	var dataObject = 
	{
	  "timeline": {
	    "headline": "timeline of me",
	    "type": "default",
	    "text": "life pic",
	    "startDate": "2012,1,26",
	    "date": <%- datas %>
	  }
	};
    var timeline_config = {
     width: "100%",
     height: "100%",
     debug:  true,
     source: dataObject
    }
</script>
<script type="text/javascript" src="/js/storyjs-embed.js"></script>
<!-- END Timeline Embed-->

