<div class="hero-unit">
	<h1>直接查看</h1>
	<p></p>
	<p>
		<a class="btn btn-primary btn-large" href="oauth/view?code=<%= code %>">点击</a>
	</p>
</div>
<div class="hero-unit">
	<h1>保存并查看</h1>
	<p></p>
	<p>
		<a class="btn btn-primary btn-large" href="oauth/view?code=<%= code %>&save=true">点击</a>
	</p>
</div>